<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <title>Detalles de la experiencia</title>
  </head>

  <body>
    <header>
      <h1>Detalles de la experiencia</h1>
    </header>
    <main>
      <h2>{{details.name}}</h2>
      <p>Categoría: {{details.category}}</p>
      <p>Dirección: {{details.address}}</p>
      <p>Location: {{details.location}}</p>
      <!-- Otros detalles específicos de la experiencia -->
    </main>
  </body>

</html>