
      <form
        action="/myExperiences/new"
        method="POST"
        enctype="multipart/form-data"
      >
      <div>
        <label for="titulo">Titulo</label>
        <input type="text" name="titulo" id="tituli">
      </div>
      <div>
          <label for="texto">Texto:</label>
          <textarea type="text" id="texto" name="texto" rows="10"></textarea>
        </div>
        <div>
        <div>
         
 {{!-- <div>
  <label for="texto">Texto:</label>
  <textarea readonly>{{experience.texto}}</textarea>
</div> --}}

        <div>
          <label for="imagen">Imágenes:</label>
          <input
            {{! // para las imagenes que quieres subir a la nube// }}
            type="file"
            id="imagen"
            name="imagen"
            accept="image/*"
            max="5"
          />
        </div>
        <div>
          <label for="filtro">Filtro:</label>
          <select id="filtro" name="filtro" multiple>
            <option value="pais">País</option>
            <option value="ciudad">Ciudad</option>
            <option value="naturaleza">Naturaleza</option>
            <option value="ocio">Ocio</option>
            <option value="precio">Precio</option>
          </select>
        </div>
        <div>
          <button type="submit">Crear Experiencia</button>
        </div>
      </form>
