<header>
  <h1>¡Bienvenido a Trotamundos!</h1>
</header>
{{! 
    <main>
      <form id="form-home" action="/search" method="GET">
        <div>
          <label for="pais">País:</label>
          <input type="text" id="pais" name="pais" />
        </div>
        <div>
          <label for="ciudad">Ciudad:</label>
          <input type="text" id="ciudad" name="ciudad" />
        </div>
        <div>
          <label for="fecha_inicio">Fecha de inicio:</label>
          <input type="date" id="fecha_inicio" name="fecha_inicio" />
        </div>
        <div>
          <label for="fecha_fin">Fecha de fin:</label>
          <input type="date" id="fecha_fin" name="fecha_fin" />
        </div>
        <div>
          <label>Filtros:</label>
          <div>
            <input type="checkbox" id="filtro_destacado" name="filtro" value="destacado">
            <label for="filtro_destacado">Destacado</label>
          </div>
          <div>
            <input type="checkbox" id="filtro_relax" name="filtro" value="relax">
            <label for="filtro_relax">Relax</label>
          </div>
          <div>
            <input type="checkbox" id="filtro_familia" name="filtro" value="familia">
            <label for="filtro_familia">Familia</label>
          </div>
          <div>
            <input type="checkbox" id="filtro_aventura" name="filtro" value="aventura">
            <label for="filtro_aventura">Aventura</label>
          </div>
          <div>
            <input type="checkbox" id="filtro_romantico" name="filtro" value="romantico">
            <label for="filtro_romantico">Romántico</label>
          </div>
        </div>
      
 
    
        
      </form>
     </div>   }}

<div class="col">
  <div class="row">
    <img src="/images/searchExperience.png" />
  </div>
  <div class="row">
    <button class="btn btn-dark">
      <a href="/search-places" class="text-decoration-none">Buscar sitios</a>
    </button>
  </div>
</div>
<div class="col">
  <div class="row">
    <img src="./public/images/addExperience.png" />
  </div>
  <div class="row">
    <button class="btn btn-dark">
      <a href="/myExperiences/new" class="text-decoration-none">Añadir
        experiencia</a>
    </button>
  </div>
</div>

{{!-- <a href="/user/{{user._id}}" class="btn btn-dark">ajustes</a> --}}