<h2>Experiences list</h2>
<div class="marco">
  {{#each experiences}}
    <div class="marco">
      {{titulo}}
      {{filtro}}
      <a href="/myExperiences/{{_id}}">Visitar</a>
    </div>
  {{/each}}
</div>