<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Nueva reseña</title>
  </head>
  <body>
    <header>
      <h1>Nueva reseña</h1>
    </header>
    <main>
      <form action="/myReviews/create" method="POST">
        <div>
          <label for="title">Título:</label>
          <input type="text" id="titulo" name="title" />
        </div>
        <div>
          <label for="texto">Comentario:</label>
          <textarea type="text" id="texto" name="comment" rows="10"></textarea>
        </div>
       <div>
          <label for="rating">Puntuacion:</label>
          <textarea type="number" id="rating" name="rating" ></textarea>
        </div>
        
        <div>
          <button type="submit">Crear Reseña</button>
        </div>
      </form>
    </main>
  </body>
</html>